# Dummy für Abwesenheit 
define Heizung_ECO dummy
attr Heizung_ECO eventMap on:on off:off
attr Heizung_ECO room Heizung

# Wenn der Dummy Abwesenheit auf on steht, werden die Heizungen auf Eco-Betrieb geschalten
# Wenn der Dummy Abwesenheit auf off steht, dann werden die normalen Temperaturlisten abgearbeitet
define n_UrlaubECO notify Heizung_ECO {\
if ( Value("Heizung_ECO") eq "on" )\
  {SetTempList_Heizung_Eco}\
elsif ( Value("Heizung_ECO") eq "off" )\
  {SetTempList_Heizung_Auto}\
}

# http://www.fhemwiki.de/wiki/Google-Kalender_zur_Steuerung_von_Dummies
define Kalender_Christian Calendar ical url <der richtige Kalenderlink> 14400

define Urlaub_dummy dummy
attr Urlaub_dummy room Kalender
attr Urlaub_dummy setList ja nein
attr Urlaub_dummy webCmd ja:nein

define Urlaub2_dummy dummy
attr Urlaub2_dummy room Kalender
attr Urlaub2_dummy setList ja nein
attr Urlaub2_dummy webCmd ja:nein

define Gast_dummy dummy
attr Gast_dummy room Kalender
attr Gast_dummy setList ja nein
attr Gast_dummy webCmd ja:nein

define Feiertag_dummy dummy
attr Feiertag_dummy room Kalender
attr Feiertag_dummy setList ja nein
attr Feiertag_dummy webCmd ja:nein

define Kalender_Christian_Start notify Kalender_Christian:modeStarted.*googlecom.* {\
Kalenderstart("$EVENT");;\
}
define Kalender_Christian_Ende notify Kalender_Christian:modeEnded.*googlecom.* {\
Kalenderende("$EVENT");;\
}

# Müllkalender URL
# http://www.fhemwiki.de/wiki/Google-Kalender_zur_Steuerung_von_Dummies
define Kalender_Muell Calendar ical url <der richtige Kalenderlink> 14400

define Restmuell_dummy dummy
attr Restmuell_dummy room Kalender,Muell
attr Restmuell_dummy setList ja nein
attr Restmuell_dummy webCmd ja:nein

define Blau_dummy dummy
attr Blau_dummy room Kalender,Muell
attr Blau_dummy setList ja nein
attr Blau_dummy webCmd ja:nein

define Gruen_dummy dummy
attr Gruen_dummy room Kalender,Muell
attr Gruen_dummy setList ja nein
attr Gruen_dummy webCmd ja:nein

define Gelb_dummy dummy
attr Gelb_dummy room Kalender,Muell
attr Gelb_dummy setList ja nein
attr Gelb_dummy webCmd ja:nein

define Kalender_Muell_Start notify Kalender_Muell:modeStarted.*googlecom.* {\
Kalenderstart("$EVENT");;\
}
define Kalender_Muell_Ende notify Kalender_Muell:modeEnded.*googlecom.* {\
Kalenderende("$EVENT");;\
}
